.container-cartwidget{
    display: flex;
}

.icono{
    align-self: center;
}
.cantItems{
    color: white;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    margin: 0 10px 0 10px;
    align-self: center;
}