.container-component{
    
    
    width: 30%;
    border: solid 1px black;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
}


 .container-product-img {
 
     
     
     height: 80%;
     object-fit: cover;
 }

 .container-product-brand{
 
     
    
    height: 20%;
    object-fit: cover;
}